

.infobox
	
	width: 320px
	height: 70%
	display: block
	position: absolute
	right: 20px
	top: 5%
	z-index: 3
	border: 1px solid rgba(255,255,255,0.025)
	background: rgba(30,30,30,0.5)
	

	&-header
		
		padding: 10px
		display: block
		position: relative
		

	&-close-btn
		width: 32px
		height: 32px
		display: block
		
		position: absolute
		right: 0
		top: 0
		
		cursor: pointer	
		color: $colors.white
		font-size: 32px
		line-height: 32px
		text-align: center
			

	&-content
			
		padding: 10px
		display: block
		color: $colors.white
		
		img
			width: 100%
			height: auto
			max-height: 240px
			

		.headline
			font-size: 22px
			font-weight: bold
			
		.description
			margin-bottom: 15px
			display: block
			color: $colors.grey
			font-size: 13px

		.property
			display: block
			color: $colors.grey
			font-size: 13px
			